$fontmenu:  'Titillium Web', sans-serif;
$fontSubMenu:  'Sorts Mill Goudy', serif;;
$fontawesome: 'fontawesome';
$transition: all .3s ease-in-out;


//color
$bg:#f3f1f2;
$pink :#FDA7DF;
$text :#273656;
$green :#b8e994;
$bluetransparent: rgba(39, 102, 195,.4);